div(id='home_container')
#account-form-container
	#home-form.form-horizontal.well.span6
		h1
		p#sub1.subheading Please tell us a little about yourself.
		hr
		h3
			h3 Member
			- for (var i = 0; i < rooms.length; i++)
				a(href="/room/#{rooms[i].address}", class="room", id="#{rooms[i].address}") #{rooms[i].name} 
				br
			h3 Owned
			- for (var i = 0; i < roomsowned.length; i++)
				a(href="/room/#{roomsowned[i].address}", class='room owned', id="#{roomsowned[i].address}") #{roomsowned[i].name} 
				br

// display form errors in a custom modal window //


script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/form-validators/accountValidator.js')