div(id='home_container')
#news.horitzontal.span4
	pre.
		News
		16/01/2012 Solved log bugs updated API
		17/01/2012 Added hang button
#account-form-container
	#home-form.form-horizontal.well.span6
		h1
		p#sub1.subheading Please tell us a little about yourself.
		hr
		p
			- for (var i = 0; i < roomsowned.length; i++)
				a(href="/room/#{roomsowned[i].address}", class='room owned', id="#{roomsowned[i].address}") #{roomsowned[i].name}	
				<i class="icon-wrench"></i> 
				br
			- for (var i = 0; i < rooms.length; i++)
				a(href="/room/#{rooms[i].address}", class="room", id="#{rooms[i].address}") #{rooms[i].name} 
				br
		hr
		<i class="icon-wrench"></i> You own those rooms


// display form errors in a custom modal window //


script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/form-validators/accountValidator.js')